body {
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    background-color:  #FFF8DC;
    font-size: 1rem;
}


h1 {
    color: black;
    font-size: clamp(1rem, 3vw + 1rem, 1.8rem);

}
.text{
    text-align: center;
}
.paragraph{
    text-align: justify;
    line-height: 2;

}
#instructions {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: justify;
    width: 95%;
    margin: 2%;

}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#concept-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    width: 60%;
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.concept-drop-area {
  
    padding: 10px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 97%;
}

#options-container {
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.option {
    display: inline-block;
    background-color: #902124;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: grab;
}

.dropped-option {
    display: inline-block;
    background-color: #003049;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#controls {
    margin-top: 20px;
}

button {
    background-color: #ad2e24;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button2
{
    background-color: #500711;
    text-decoration: none;

}
a{
    text-decoration: none;
}
button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.title__hight {
    background-color:  #ad2e24;
    display:flex;
    padding: 3px;
    border-radius: 5px;
    color: white;
    justify-content: center;
}
